a.prev:hover,a.next:hover { background-color:#fffab2;}
.footerstress { border: solid #fffab2;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#fffab2;}
.vuzz-pricing-table>div { border-top:#fffab2 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#fffab2;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#fffab2;}
.hometitlebg { background: #fffab2;border: 1px solid #eee;color: #fff;}
.noshadowbox {background-color: #fff;}
.colortitlebg {background:#fffab2; }
.neutralbutton {	background:#fffab2;}
.serviceicon { background-color:#fffab2;}
.subtitle { border-bottom:#fffab2 1px solid;}
.wrapaction { border-left: #fffab2 3px solid;background:#fff;}
.actionbutton { background-color:#fffab2;}
.stresstitle { border-bottom:#fffab2 1px solid;}
.undermenuarea {	background: #fffab2 url(../images/pat.png) repeat;}
.back-top a:hover { background-color: #333; }
a.expandAll, .progressdefault {background: #fffab2;}
.simplebox {border-left: 1px solid #fffab2;}
.simpleboxicon {color: #fffab2;}
.colorme { color:#fffab2;}
.buttonprice {background: #fffab2;color:#fff;border: 0px;}
.wrapactiondefault {border-left: #fffab2 2px solid;}